.row
  .col-md-12
    %h1 Widget Sales Dashboard
    %p.lead Sales for widgets across all branches in London
.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Employee ID
          %td Name
          %th Branch
          %th Daily Sales
      %tbody
        %tr
          %td 11345
          %td George
          %td Shoreditch
          %td $3,000
        %tr
          %td 33489
          %td Henry
          %td Mile End
          %td $2,450
        %tr
          %td 44392
          %td Isobel
          %td Barbican
          %td $3,545
        %tr
          %td 58943
          %td Sabra
          %td Heathrow
          %td $6,339
        %tr
          %td 49833
          %td Phil
          %td Bethnal Green
          %td $1,445
        %tr
          %td 22849
          %td Mira
          %td Oxford Street
          %td $5,349
