%html
  %head
    %title RubyScraper
    %link{ href: '/css/bootstrap.min.css', rel: :stylesheet }
  %body
    .navbar.navbar-default
      .navbar-brand Ruby Scraper Exercise

    .container
      = yield
